body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

.intro-section {
    background-color: #dfc2f2; 
    padding: 16px;
}

.top {
    display: flex;
    justify-content: space-between;
}

ul {
    font-size: 18px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hook {
    display: flex;
    justify-content: space-between;
}

.hook-info {
    display: flex;
    flex-direction: column;
}

.info-heading {
    background-color: #ffffff;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section {
    background-color: #e5e7eb;
    text-align: center;
}

.subscribe-section {
    background-color: #266dd3;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border-radius: 8px;
}

.subscribe-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}