body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0e2a51;
}

button {
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    max-width: 150px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    border-color: #0e2a51;
    box-shadow: 2px 5px #266dd3;
}

.intro-section {
    background-color: #dfc2f2; 
    padding: 16px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.header-logo {
    font-family: gill sans; 
    font-size: 24px;
    font-weight: 700;
    color: #266dd3;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hook {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    flex-wrap: wrap;
    gap: 48px; /* leaves gap between subscribe button and image on wrap */
}

.hook-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 32px;
}

.hook-heading {
    color: #006aff;
    font-family: futura;
    font-size: 48px;
    font-weight: 800;
    margin-left: -4px;
    margin-bottom: 16px;
}

.hook-text {
    color: #0e2a51;
    padding: 0;
    margin-bottom: 8px;
}

#intro-subscribe-button {
    margin-top: 12px;
}

.top, .hook {
    margin-left: 48px;
    margin-right: 48px;
}

.info-section {
    background-color: #ffffff;
}

.info-heading {
    background-color: #ffffff;
    color: #266dd3;
    font-family: futura;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 16px;
    margin: 16px;
    margin-bottom: 32px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
    gap: 48px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: 2px solid #0e2a51;
    border-radius: 8px;
}

.card .text {
    max-width: 300px;
    text-align: center;
    line-height: 1.25;
    margin-top: 16px;
}

.quote-section {
    background-color: #e5e7eb;
    text-align: center;
    line-height: 1.5;
}

.quote {
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 64px;
}

.quotee {
    color: #0e2a51;
    font-weight: 600;
    margin-left: 300px;
    margin-bottom: 56px;
}

.subscribe-section {
    background-color: #dfc2f2;
    box-shadow: 5px 10px #266dd3;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 32px 116px;
    margin: 64px auto;
    border-radius: 8px;
    flex: 1 1 0;
}

.subscribe-text {
    color: #0e2a51;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.25;
}

.subscribe-text-heading {
    font-size: 24px;
    font-weight: bolder;
}