body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: space-between;
}

ul {
    font-size: 18px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hook {
    display: flex;
    justify-content: space-between;
}

.hook-info {
    display: flex;
    flex-direction: column;
}

.info-heading {
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}